<div class="container p-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">
                        This´s my contact app, a place in which you can 
                        save all your favorite contacts
                    </h4>
                    <h6>
                        Be free of use it!
                    </h6>
                    <div class="p-3">
                        <a href="/signup" class="btn btn-primary">
                        SIGN UP
                        </a>
                        <a href="/signin" class="btn btn-primary m-2">
                            SIGN IN
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
