<footer class="footer text-center">
    <div class="redes">
        <div class="contenedor-icono">
            <a href="https://github.com/Remy349" target="_blank" class="github">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
    <div class="contenedor-creador">
        <p class="creador">
            Made it by Santiago de Jesús Moraga Caldera
        </p>
        <p>
            Gmail: santoraga15@gmail.com
        </p>
    </div>
</footer>
